<br><br><br>
<div class="container">
    <h1 align="center"><b><u>Health and Wellness</u></b></h1><br><br>
    <div class="row">
        <div class="col-md-6 col-sm-12">
            <img src="assets/Images/HealthCare/headache1.jpg" class="img-fluid" alt="FeverBG">
        </div>
        <div class="col-md-6 col-sm-12">
            <h2 style="margin-bottom: 15px;"><b>What To Eat In Fever</b></h2>
            <ul>
                <li>
                    <b>Probiotic-Rich Foods :</b> Foods like yogurt, kefir, sauerkraut, and kimchi contain probiotics
                    that promote gut health and strengthen the immune system.
                    Probiotic-rich foods are generally easy to digest, making them suitable choices during a fever.
                </li>
                <li><b>Fresh Fruits :</b> Incorporating fruits like oranges, strawberries, and kiwi provides essential
                    vitamins and antioxidants that support the immune system</li>
                <li><b>Stay Hydrated :</b> Dehydration can trigger headaches. Ensure you drink an adequate amount of
                    water
                    throughout the day.</li>
                <li><b>Nutrient-Dense Soups :</b> Soups offer hydration, warmth, and easily digestible nutrients, making
                    them an excellent choice during a fever.</li>
            </ul>
        </div>
    </div>
    <hr>


    <div class="row">
        <div class="col-md-6 col-sm-12">
            <img src="assets/Images/HealthCare/Yoga.jpg" class="img-fluid" alt="YogaBG">
        </div>
        <div class="col-md-6 col-sm-12">
            <h2 style="margin-bottom: 15px;"><b>Benefits of Yoga</b></h2>
            <ul>
                <li>
                    <b>Physical Benefits :</b> Yoga works wonders in reducing joint pain, and muscle or back pain. It
                    helps lower blood pressure levels.
                    Incorporating yoga can lessen chronic pain, such as lower back pain, arthritis, headaches, and
                    carpal tunnel syndrome.
                </li>
                <li><b>Improves Flexibility and Balance :</b> While carrying out various asanas and postures, the body
                    moves in various directions, which improves flexibility and balance.</li>
                <li><b>Mental Health :</b> Yoga, with its numerous advantages, has a significant
                    impact on mental health.</li>
                <li><b>Improves Posture :</b> Yoga strengthens the body's core and increases the body's awareness. Both
                    these qualities are necessary for good posture.</li>
            </ul>
        </div>
    </div>
    <hr>


    <div class="row">
        <div class="col-md-6 col-sm-12">
            <img src="assets/Images/HealthCare/fitness.jpg" class="img-fluid" alt="FitnessBG">
        </div>
        <div class="col-md-6 col-sm-12">
            <h2 style="margin-bottom: 15px;"><b>Athlete and Fitness Diet Essentials</b></h2>
            <ul>
                <li>
                    <b>Proteins :</b> Proteins are the building blocks of muscle tissues and aid in repairing and
                    rebuilding muscles after intense workouts.
                    Protein intake also helps prevent muscle breakdown, especially during periods of high training
                    volume or when trying to build lean muscle mass.
                </li>
                <li><b>Vitamins :</b> Vitamins are essential for energy production, muscle function, and overall health.
                </li>
                <li><b>Carbohydrates :</b> Carbohydrates are essential for athletes and fitness enthusiasts as they
                    provide the primary source of energy for the body. Carbohydrates are broken down into glucose, which
                    is then used by the muscles during physical activity.</li>
                <li><b>Adequate Hydration :</b> Adequate hydration and balanced electrolytes are vital for optimal body
                    function, including muscle and nerve performance.</li>
            </ul>
        </div>
    </div>
    <hr>


    <div class="row">
        <div class="col-md-6 col-sm-12">
            <img src="assets/Images/HealthCare/vaccinaton.jpg" class="img-fluid" alt="VaccinationBG">
        </div>
        <div class="col-md-6 col-sm-12">
            <h2 style="margin-bottom: 15px;"><b>Essential Vaccines and Boosters</b></h2>
            <ul>
                <li>
                    <b>Personal protection :</b> They provide personal protection, preventing individuals from
                    contracting potentially severe and life-threatening diseases.
                </li>
                <li><b>Herd immunity :</b> When a significant portion of the population is vaccinated, it creates a
                    barrier that prevents the spread of infectious diseases,
                    thereby safeguarding those who are unable to receive vaccinations, such as infants or individuals
                    with weakened immune systems.</li>
                <li><b>Routine Vaccinations :</b> These are regular vaccines that adults should get to stay healthy and
                    prevent diseases like the flu and tetanus.</li>
                <li><b>Travel and Occupation Vaccines :</b> You may need
                    extra protection against diseases like hepatitis, typhoid, or rabies. Consult with your healthcare
                    provider to determine which vaccines are necessary based on your travel or job.</li>
            </ul>
        </div>
    </div>
    <hr>



    <div class="row">
        <div class="col-md-6 col-sm-12">
            <img src="assets/Images/HealthCare/Copper.png" class="img-fluid" alt="CopperBG">
        </div>
        <div class="col-md-6 col-sm-12">
            <h2 style="margin-bottom: 15px;"><b>Healthier Way to Drink Water</b></h2>
            <ul>
                <li>
                    <b>Benefits of Drinking from Copper Bottles :</b> Choosing to drink water from a copper bottle
                    offers several advantages. Copper possesses anti-inflammatory and antioxidant properties, which can
                    benefit your health. Copper also acts as a natural antibacterial agent, making it an effective way
                    to eliminate harmful microorganisms in your drinking water.
                </li>
                <li><b>Cautions and Tips for Using Copper Bottles :</b> While copper bottles offer health benefits, it's
                    crucial to remember that copper can be toxic in high doses. To maximize the advantages and minimize
                    risks, use copper vessels exclusively for storing and drinking water.</li>
            </ul>
        </div>
    </div>
    <hr>



    <div class="row">
        <div class="col-md-6 col-sm-12">
            <img src="assets/Images/HealthCare/Vitamins.jpg" class="img-fluid" alt="VitaminsBG">
        </div>
        <div class="col-md-6 col-sm-12">
            <h2 style="margin-bottom: 15px;"><b>Essential Guide to Vitamins</b></h2>
            <ul>
                <li>
                    <b>Understanding Vitamins :</b> Vitamins are essential for overall health and come in two main
                    types: fat-soluble and water-soluble. Fat-soluble vitamins (A, D, E, K) can be stored in the body,
                    while water-soluble vitamins (B-complex, C) need regular replenishment.
                </li>
                <li><b>Common Vitamin Deficiencies :</b> Frequent health concerns encompass vitamin D, B12, and iron
                    deficiencies. Limited sun exposure can cause vitamin D issues, while vitamin B12 deficiencies are
                    often observed in vegetarians and vegans, potentially leading to anemia. Iron deficiency is
                    widespread and can result in fatigue and anemia.</li>
                <li><b>Vitamin Supplementation :</b> Supplementation can help meet nutritional needs when diet falls
                    short, especially during pregnancy and for infants, but it should be used with caution and
                    individualized guidance from a healthcare professional.</li>
            </ul>
        </div>
    </div>
    <hr>


    <div class="row">
        <div class="col-md-6 col-sm-12">
            <img src="assets/Images/HealthCare/Bellyfat.png" class="img-fluid" alt="BellyfatBG">
        </div>
        <div class="col-md-6 col-sm-12">
            <h2 style="margin-bottom: 15px;"><b>Can Supplements Help Lose Belly Fat?</b></h2>
            <ul>
                <li>
                    <b>Balanced diet and Regular Exercise :</b> A balanced diet and regular exercise help manage
                    calories and support metabolism. Aim for a diet that includes all the essential nutrients like
                    Proteins, Carbohydrates, Fats & various Minerals.
                    Engage in physical activities for at least 30 minutes every day, such as Walking, Jogging, Cycling &
                    Swimming.
                </li>
                <li><b>Strategies for Mindful Eating :</b> FPortion control and mindful eating are effective strategies
                    for weight reduction as they help you prevent overeating and develop a healthier relationship with
                    food. To implement, opt for nutrient-dense foods such as Whole grains, Lean Proteins, Fruits,
                    Vegetables, Healthy fats</li>
            </ul>
        </div>
    </div>
    <hr>
</div>